*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    background-color: rgba(34, 197, 202, 0.836);
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.calculator{
    display: grid;
    background-color: #000000;
    border-radius: 5px;
    zoom: 178%;
}
.content{
    height: 100px;
    color: #ffffff;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}
.content .input{
    color: gray;
}
.content .output{
    font-size: 30px;
}
span{
    background-color: rgb(32, 31, 31);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5, 3rem);
}
button{
    height: 50px;
    margin: 2px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.calculator .col{
    color: orangered;
}
.calculator .operator{
    color: #00ffff;
}
.calculator .plus{
    grid-row: span 2;
    height: 105px;
}
.calculator .equalBtn{
    width: 92px;
    color: orangered;
}